@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    padding: 25px 45px;
    border-radius: 10px;
    box-shadow: 0 0 15px #0000005e;
}

.imagem img {
    width: 250px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    padding: 25px;
    border-radius: 15px;
}

.formulario h1 {
    color: #6582fd;
    font-size: 32px;
    font-weight: 500;

    color: transparent;
    background-image: linear-gradient(to right,#2626bc,#6582fd);
    background-clip: text;
    transition: background-position 1s ease;
    background-size: 200%;
    background-position: right;
}

.formulario h1:hover {
    background-position: left; /* Move o gradiente para a direita ao passar o mouse */
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fill {
    border: none;
    display: flex;
    justify-content: center;
}

.fill label {
    background-color: #6582fd;
    color: #ffffff;
    padding: 5px 15px;
    cursor: pointer;
}

.fill input {
    color: #000000;
    font-size: 14px;
    
    border: 2px solid #6582fd;
    outline: none;
    padding-left: 5px;
}

.fill input:focus {
    caret-color: #6582fd;
}

.click {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding-top: 10px;
}

.click input {
    background-color: #6582fd;
    color: #FFFFFF;
    font-size: 16px;
    padding: 6px 20px;
    border: 2px solid #6582fd;

    cursor: pointer;
}

.click input:hover {
    background-color: #FFFFFF;
    color: #6582fd;
    border: 2px solid #6582fd;
}

.click a {
    color: #6582fd;
    font-size: 16px;
    text-decoration: none;
}

.click a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .imagem img {
        width: 150px;
    }
    
    .login {
        flex-direction: column;
        max-width: 90%;
    }
}
