* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #79D7BE;
}

header {
    background-color: #79D7BE;
    color: #2E5077;
}

header h1 {
    padding: 10px;
    text-align: center;
}

menu {
    display: none;
    flex-direction: column;
    align-items: center;
}

#burguer {
    background-color: #F6F4F0;
    color: #4DA1A9;

    font-size: 28px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    width: 100%;
}

#burguer:hover {
    cursor: pointer;
}

menu ul {
    list-style: none;
    width: 100%;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-top: 2px solid #2E5077;
    background-color: #4DA1A9;
    color: #F6F4F0;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
}

menu a:hover {
    background-color: #F6F4F0;
    color: #4DA1A9;
    transform: scale(1.05);
}

main {
    width: 90vw;
    background-color: #F6F4F0;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
}

article h2 {
    padding-bottom: 20px;
}

article p {
    text-align: justify;
    text-indent: 10px;
    margin-bottom: 20px;
}
