@charset "UTF-8";

body {
    background-color: #1bf08579;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #000000;
}

h2 {
    color: #ffffff;
}

#main {
    color: #000000;
    text-align: center;
    background-color: #ffffff;;
}