@charset "UTF-8";

* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #293241; 
}

main {
    height: 100vh;
    width: 50vw;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px #3b485e;
    background: linear-gradient(to bottom, #3D5B81, #293241) 
}

h1 {
    color: #EE6B4D;
    text-align: center;
}

h2 {
    color: #9BC0D9;

}

p {
    color: #DFFBFC;
    text-align: justify;
}