@media only screen and (min-width: 768px) {
    body {
        background-image: url(./images/back-tablet.jpg);
    }

    img#phone { display: none; }
    img#tablet { display: block; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: none; }

}

@media only screen and (min-width: 992px) {
    body {
        background-image: url(./images/back-pc.jpg);
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: block; }
    img#tv { display: none; }
}

@media only screen and (min-width: 1200px) {
    body {
        background-image: url(./images/back-tv.jpg);
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: block; }
}

@media print {
    body {
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        text-align: center;
    }

    main::after {
        content: "Responsividade para impressoras.";
    }
    
    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: block; }
    img#pc { display: none; }
    img#tv { display: none; }
}
