@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0px;
    padding: 0px;

    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    background-color: #212121;
}

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 488px;
    width: 240px;
    background: transparent url("../imagens/iphone-13.png") no-repeat;
}

#telefone iframe {
    cursor: pointer;
}

#time {
    position: relative;
    top: 13px;
    left: 35px;
    background-color: #252a2f;
    color: #FFFFFF;
    font-size: 12px;     
    padding: 0 10px 0 2px;
}

#tela {
    position: relative;
    top: 15px;
    left: 13px;
    width: 216px;
    height: 439px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

#redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
}

#redes-sociais img {
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #00000049;
    margin: 10px 20px;
    box-sizing: border-box;
}

#redes-sociais img:hover {
    border: 2px solid #ffffffad;
}
